body
{
    background-image: url(../imagenes/pf/1.jpg);
    font-family: 'Poor Story', cursive;
}

.logo
{
    width: 325px;
    position: relative;
    margin: auto;
}

.logo > img
{
    border: 5px solid black;
    border-radius: 50%;
}

.cabecera, .menu
{
    width: 50%;
    min-width: 550px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.menu
{
    border-bottom: solid 5px black; 
    border-radius: 15%;
}

.menu a
{
    color: #000;
    font-weight: bold;
    margin: 13px;
    font-size: 100%;

}

.menu a:hover
{
    color: #390773;
}

.contenido
{

    width: 80%;
    text-align: justify;
    margin: auto;
}

.contenido img
{
    float: left;
    margin: 10px;
}

.contenido h1, h2, h3
{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    margin: 0px;
    text-align: center;
}

p
{
    background-color: #d7d0bd;/*#fffdf6;*/
    border-radius: 3%;
    padding: 10px;
    overflow: auto;
}

.glosario li
{
    padding: 4px;
}

.glosario 
{
    font-style: italic;
}

.concepto
{
    font-weight: bold;
}

.video
{
    max-width: 50%;
    margin: auto;
}

#disqus_thread
{
    max-width: 80%;
    margin: auto;
}

/*--------AJUSTES BARRA NAVEGACION------------*/